<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" />
  <package id="Microsoft.Azure.SpatialAnchors.Unity" version="2.2.1" />
  <package id="Microsoft.Azure.SpatialAnchors.WinRT" version="2.12.0" />
  <package id="Microsoft.MixedReality.Unity.FrozenWorld.Engine" version="1.1.1" />
  <package id="RestSharp" version="106.13.0" />
  <package id="RestSharp.Authenticators.Digest" version="1.1.0" />
</packages>